<%= form_with(model: subject, local: true) do |form| %>
  <div class="form-group row">
    <%= form.label :subjectCode, "Subject Code", :class=>"col-sm-2 col-form-label" %>
    <div class="col-sm-10"> 
      <%= form.text_field :subjectCode, :class=>"form-control", :required => 'true'%>
    </div>
  </div>


  <div class="form-group row">
    <%= form.label :subjectName, "Subject Name", :class=>"col-sm-2 col-form-label" %>
    <div class="col-sm-10"> 
      <%= form.text_field :subjectName, :class=>"form-control", :required => 'true'%>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :teacher_id, "Teacher Name", :class=>"col-sm-2 col-form-label" %>
  <div class="col-sm-10"> 
      <%= form.collection_select :teacher_id, Teacher.all, :id, :teacherName, {:include_blank => "Please select"},  :class=>"form-control",  :required => 'true'%>
      </div>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
